<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitch API Manager</title>
    <link rel="stylesheet" href="/main.css">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- Materialize CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <nav class="blue darken-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Twitch API Manager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Auth Workflow</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row card-panel">
            <div class="col s12">
                Main Page
            </div>
        </div>
    </div>
    {{!-- Materialize JS --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>